@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom class for text outline */
.outline-gray {
  color: transparent;
  opacity: 0.5;
  -webkit-text-stroke: 1px gray;
}

.outline-white {
  color: transparent;
  -webkit-text-stroke: 1px white;
  opacity: 0.1;
}

.outline-yellow {
  color: transparent;
  -webkit-text-stroke: 2px rgb(251, 255, 0);
  opacity: 2;
}
.outline-white2 {
  color: transparent;
  -webkit-text-stroke: 4px rgb(255, 255, 255);
  opacity: 0.9;
  outline: 12px black;
}
body {
  background-color: black;
}

.opacity-hidden {
  opacity: 0;
}

.outline-yellow {
  color: transparent;
  -webkit-text-stroke: 1px #ffc20e;
  opacity: 1;
}
